.mt-7 {
  margin-top: 200px !important;
}

.description {
  resize: none;
}
.dropzone{
    display: flex;
    align-items: center;
    padding: 10px;
}

.react-tags {
  position: relative;
  padding: 6px 0 0 6px;
  border: 1px solid #ced4da;
  border-radius: 1px;
  margin-bottom: 20px;
  /* shared font styles */
  font-size: 1em;
  line-height: 1.2;
  /* clicking anywhere will focus the input */
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-radius: .25rem;
  background: #fff;
  cursor: text;
}
.react-tags:focus{
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.react-tags.is-focused {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.react-tags__selected {
  display: inline;
}

.react-tags__selected-tag {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 6px 6px 0;
  padding: 6px 8px;
  border: 1px solid #D1D1D1;
  border-radius: 2px;
  background: #F1F1F1;
  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__selected-tag:after {
  content: '\2715';
  color: #AAA;
  margin-left: 8px;
}

.react-tags__selected-tag:hover, .react-tags__selected-tag:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.react-tags__search {
  display: inline-block;
  /* match tag layout */
  padding: 7px 2px;
  margin-bottom: 6px;
  /* prevent autoresize overflowing the container */
  max-width: 100%;
}

@media screen and (min-width: 30em) {
  .react-tags__search {
    /* this will become the offsetParent for suggestions */
    position: relative;
  }
}

.react-tags__search-input {
  /* prevent autoresize overflowing the container */
  max-width: 100%;
  /* remove styles and layout from this element */
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__search-input::-ms-clear {
  display: none;
}

.react-tags__suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

@media screen and (min-width: 30em) {
  .react-tags__suggestions {
    width: 240px;
  }
}

.react-tags__suggestions ul {
  margin: 4px -1px;
  padding: 0;
  list-style: none;
  background: white;
  border: 1px solid #D1D1D1;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.react-tags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 6px 8px;
}

.react-tags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

.react-tags__suggestions li:hover {
  cursor: pointer;
  background: #eee;
}

.react-tags__suggestions li.is-active {
  background: #b7cfe0;
}

.react-tags__suggestions li.is-disabled {
  opacity: 0.5;
  cursor: auto;
}

.card {
  margin-bottom: 30px;
}

li {
  list-style: none;
}

.cloud {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.cloud__item {
  padding: 0;
  margin: 0;
  min-width: 30px;
  margin-right: 15px;
  margin-bottom: 5px;
}

.btn {
  min-width: 75px;
}

p {
  margin: 0 !important;
  padding: 0 !important;
  ;
}

ul {
  margin: 0;
  padding: 0;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin-right: 20px;
}

.list__tag {
  display: flex;
}

.card-subtitle {
  margin-right: 15px;
}

.card-title {
  display: flex;
  align-items: center;
}

.name-game {
  margin-right: 10px!important;
}

.tags-game {
  margin-bottom: 8px!important;
}

.card-title {
  margin-bottom: -0.25rem;
}

.alert {
  position: inherit !important;
}

.close {
  display: none;
}

.bisy {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hide-text img{
  width: 100%;
}
blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: .25em solid #dfe2e5;
}
.hide{
  display: none;
}
.custom-file-label::after{
  display: none !important;
}
.custom-file {
  width: 50px !important;
  background-color: brown !important;
}
.editor{
  position: relative;
}
.close-img{
  position: absolute;
  top: -50px;
  right: -2px;
  padding: 0;
}
.close-btn{
  min-width: 40px !important;

}
.nav-list{
  display: flex;
  flex-wrap: wrap;
}
.nav-list__item{
  margin-bottom: 5px;
}
.nav{
  min-width: 40px;
  display: flex  !important;
  align-items: center;
  justify-content: center;
  padding: 10px  !important;
  margin-right: 10px  !important;
}

.display-4{
  font-size: 2.5rem !important;
}

.loader{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
}
/* .list-fanfic__item{
  background-color: #b9cee2;
} */
.tags-list__item .badge {
  padding: 1em 1.2em;
}
.aside{
  background-color: #e5faff;
}
.list-fanfic{
  margin: 0;
}
.jumbotron{
  margin-bottom: 0 !important;
}
.list-fanfic__item{
  margin-bottom: 2rem;
}

.list-fanfic__item:last-child{
  margin: 0;
}
.aside{
  padding: 20px 10px;
}
.card_fix{
  margin-right: 0;
  /* margin-top: 20px; */
}
.btn-filter-raiting{
  padding: 5px 10px !important;
    min-width: 60px !important;
}
.btn-cloudtags{
  padding: 8px!important;
  min-width: 30px!important;
}
.link{
  color: #fff;
}
.link:hover{
  color: #fff;
  text-decoration: none;
}

.list-chapters{
  padding: 0;
}
.list-group-item{
  padding-left: 50px !important;
}

.btn-arrow{
  min-width: 10px !important;
    padding: 5px !important;
    line-height: 0.5!important;
}
.arrows{
  width: 65px;
}
.jumbotron img{
    display: flex;
  margin: 0 auto;
  min-width: 300px;
  max-width: 600px;
  max-height: 500px;
}

.markdown img{
  display: flex;
  margin: 0 auto;
  min-width: 300px;
  max-width: 600px;
  max-height: 500px;
  padding: 20px 0;
}

.form-label {
  width: 130px;
}

.edit-in-place:focus{
  color: #495057;
  background-color: #fff;
  border: 1px solid #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.edit-in-place {
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-radius: .25rem;
  background: #fff;
  cursor: text;
  padding: 5px;
}

._edit__in__place__container_ span{
  padding: 5px;
}

.btn-toolbar{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
}

.user-name{
  color: #fff;
}
.star-container{
  position: relative;
  display: flex;
  align-items: center;
}
.star-blok{
  width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
}
.star-number{
  padding-top: 5px !important;
  padding-left: 10px  !important;
}

.like-container{
  position: relative;
}

.navbar .form-inline{
   flex-flow: nowrap;
}

.form-inline .form-control {
  display: inline-block;
  width: 100% !important;
  vertical-align: middle;
}

.nav-search{
  width: 40%;
}

.nav-auth{
  width:30%;
  justify-content: flex-end !important;
}
.nav-option{
  width:30%;
}
@media (max-width: 1199.98px) { 
  .nav-auth{
    width: 30%;
  }
  .nav-option{
    width: 30%;
  }
  .nav-search{
    width: 40%;
  }
  
  .nav-container{
    display: flex;
    justify-content: flex-end !important;
  }
 }

 @media (max-width: 991.98px) { 
  .nav-auth{
    width: 100%;
    justify-content: center !important;
  }
  .nav-option{
    width: 50%;
    margin: 10px auto;
    justify-content: center !important;
  }
  .nav-search{
    width: 100%;
    margin: 10px 0;
    justify-content: center !important;
  }
 }

 @media (max-width: 767.98px) {
  .nav-option{
    width: 100%;
    }
    .jumbotron img {
      min-width: auto;
      max-width: 100% !important;
      max-height: 100%  !important;
  }
  .main{
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .main{
    display: flex !important;
    flex-wrap: wrap-reverse !important;
  }
  }

  @media (max-width: 575.98px) { 
    .marginl{
      margin-right: 10px;
    }
    .jumbotron img {
      min-width: auto;
      max-width: 100% !important;
      max-height: 100%  !important;
  }
    .user-name{
      margin-right: 20px !important;

    }
    .main{
      display: flex !important;
      flex-wrap: wrap-reverse !important;
    }
    .container-btn{
      flex-wrap: wrap;
    }
    .container-btn .btn{
      padding: .2rem .5rem;
      font-size: 0.7rem;
    }
    .arrows{
      margin-bottom: 15px;
    }
  }

  .comment .form-label{
    width: 100%;
  }

  .bg-all{
    background-color: white;
    min-height: 100vh;
  }

  .black {
    filter: invert(100%)
  }
  .black img{
    filter: invert(100%)
  }
  .black option{
    background-color: black;
    color: #fff;
  }
  /* filter: invert(100%) */

  .black .bg-primary {
    background-color: #8c74ba!important;
  }

  .black .btn-success {
    color: #fff;
    background-color: #455a49;
    border-color: #5f42ab;
}

.black .aside {
  background-color: #7b9094;
}

.black .card {

  background-color: #87c5b6;

}

.black .jumbotron{
  background-color: #a3a6b3;
}

.black .alert-light {
  color: #000;
  background-color: #fefefe;
  border-color: #fdfdfe;
}

.black .table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #000000;
}

.black .table-bordered td, .black .table-bordered th {
  border: 1px solid #000000;
}